@page "/Iam/Roles/{id}/Users"

@using Microsoft.AspNetCore.Identity

@inject IRoleStore RoleStore
@inject IUserStore UserStore

@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Role Users</h4>
    <hr />
    @if (role is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Role</dt>
            <dd class="col-sm-10">@role.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Users</dt>
            <dd class="col-sm-4">
                @if (users.Any())
                {
                    <ul class="list-group list-group-flush">
                        @foreach (var user in users)
                        {
                            <li class="list-group-item">
                                @user.Username
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p class="fst-italic">
                        No users have been assigned.
                    </p>
                }
            </dd>
        </dl>
        <div>
            <a href="@($"/Iam/Roles/{Id}/Users/Edit")">Edit</a>
            <div class="vr"></div>
            <a href="@($"/Iam/Roles/{Id}")">Back to Role</a>
            <div class="vr"></div>
            <a href="@($"/Iam/Roles")">Back to List</a>
        </div>
    }
</div>

@code {
    Role? role;

    IList<User>? users;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        role = await RoleStore.FindByIdAsync(Id);

        if (role is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        var subjects = await RoleStore.GetSubjectsAsync(role);
        var subjectSet = subjects.ToHashSet();

        users = await UserStore.ListAsync();
        users = users.Where(user => subjectSet.Contains(user.SubjectId)).ToList();
    }
}
