@page "/Iam/Subjects/{id}/Roles"

@using Microsoft.AspNetCore.Identity

@inject ISubjectStore SubjectStore

@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Subject Roles</h4>
    <hr />
    @if (subject is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Subject</dt>
            <dd class="col-sm-10">@subject.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Roles</dt>
            <dd class="col-sm-4">
                @if (roles.Any())
                {
                    <ul class="list-group list-group-flush">
                        @foreach (var role in roles)
                        {
                            <li class="list-group-item">
                                @role.Name
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p class="fst-italic">
                        No roles have been assigned.
                    </p>
                }
            </dd>
        </dl>
        <div>
            <a href="@($"/Iam/Subjects/{Id}/Roles/Edit")">Edit</a>
            <div class="vr"></div>
            <a href="@($"/Iam/Subjects/{Id}")">Back to Subjects</a>
            <div class="vr"></div>
            <a href="@($"/Iam/Subjects")">Back to List</a>
        </div>
    }
</div>

@code {
    Subject? subject;

    IList<Role>? roles;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        subject = await SubjectStore.FindByIdAsync(Id);

        if (subject is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        roles = await SubjectStore.GetRolesAsync(subject);
    }
}
